<initiation-component web-component eager-load-css="initiation-component" class="w-full bg-white p-2 shadow-md">
    <h3 class="font-sm font-grey-700 font-bold mb-1">Initiation Order</h3>
    <entity-wrapper>
        {% for player in players %}
            <entity-component data-character-uid="{{ player.uid }}">
                <input type="text" class="js-name" value="{{ player.title }}" readonly />
                <input type="number" class="js-initiation" value="0" />
                <button class="js-ping">
                    <svg style="transform: scaleX(-1);" aria-hidden="true" focusable="false" data-prefix="far" data-icon="reply-all" class="svg-inline--fa fa-reply-all fa-w-20" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M142.06 273.94l160 159.97c30.02 30.02 81.94 8.98 81.94-33.94v-71.08c118.18 4.94 121.95 30.99 104.44 89.17-13.17 43.75 36.21 78.71 73.1 53.43 50.61-34.7 78.46-79.33 78.46-143.11 0-142.4-127.16-171.02-256-175.61V80.04c0-42.88-51.89-64-81.94-33.94l-160 159.96c-18.75 18.74-18.75 49.14 0 67.88zM176 240L336 80v120c120.616 0 256 6.513 256 128.38 0 55.8-28.79 83.87-57.6 103.62 41.002-136.247-60.829-152-198.4-152v120L176 240zM14.059 206.059l160-159.962c20.389-20.389 50.822-17.22 68.29.31L48 240l194.35 193.603c-17.474 17.531-47.921 20.675-68.291.306l-160-159.967c-18.745-18.746-18.745-49.138 0-67.883z"></path></svg>
                </button>
            </entity-component>
        {% endfor %}
    </entity-wrapper>
    <div class="w-full mb-1" flex="justify-between items-center">
        <button class="button -solid -primary js-add-entity">Add Entity</button>
        <button class="button -solid -primary js-update-initiation-order">Update</button>
    </div>
    <template tag="entity-component">
        <entity-component>
            <button class="js-remove mr-0.5">
                <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="minus-circle" class="svg-inline--fa fa-minus-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M140 284c-6.6 0-12-5.4-12-12v-32c0-6.6 5.4-12 12-12h232c6.6 0 12 5.4 12 12v32c0 6.6-5.4 12-12 12H140zm364-28c0 137-111 248-248 248S8 393 8 256 119 8 256 8s248 111 248 248zm-48 0c0-110.5-89.5-200-200-200S56 145.5 56 256s89.5 200 200 200 200-89.5 200-200z"></path></svg>
            </button>
            <input type="text" class="js-name" />
            <input type="number" class="js-initiation" value="0" />
            <button class="js-notify">
                <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="bell-on" class="svg-inline--fa fa-bell-on fa-w-20" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M520.94,100a23.8,23.8,0,0,0,12-3.22l55.42-32a24,24,0,0,0-24-41.56l-55.42,32a24,24,0,0,0,12,44.78ZM112,192a24,24,0,0,0-24-24H24a24,24,0,0,0,0,48H88A24,24,0,0,0,112,192ZM51.66,64.78l55.42,32a24,24,0,1,0,24-41.56l-55.42-32a24,24,0,1,0-24,41.56ZM616,168H552a24,24,0,0,0,0,48h64a24,24,0,0,0,0-48ZM479.9,208c0-77.7-54.46-139.91-127.93-155.16V32A32,32,0,1,0,288,32V52.84C214.56,68.09,160.09,130.3,160.09,208c0,102.3-36.15,133.53-55.47,154.3A31.15,31.15,0,0,0,96,384c.12,16.41,13,32,32.09,32H511.9c19.13,0,32-15.59,32.1-32a31.17,31.17,0,0,0-8.63-21.7C516.06,341.53,479.9,310.3,479.9,208ZM163.53,368c21.22-28,44.41-74.33,44.53-159.42,0-.2-.06-.38-.06-.58a112,112,0,0,1,224,0c0,.2-.06.38-.06.58.12,85.11,23.31,131.47,44.53,159.42ZM320,512a64,64,0,0,0,64-64H256A64,64,0,0,0,320,512Z"></path></svg>
            </button>
        </entity-component>
    </template>
</initiation-component>