.font-white{
	color: var(--white) !important;
}
.font-black{
	color: var(--black) !important;
}
.font-primary-100{
	color: var(--primary-100) !important;
}
.font-primary-200{
	color: var(--primary-200) !important;
}
.font-primary-300{
	color: var(--primary-300) !important;
}
.font-primary-400{
	color: var(--primary-400) !important;
}
.font-primary-500{
	color: var(--primary-500) !important;
}
.font-primary-600{
	color: var(--primary-600) !important;
}
.font-primary-700{
	color: var(--primary-700) !important;
}
.font-primary-800{
	color: var(--primary-800) !important;
}
.font-primary-900{
	color: var(--primary-900) !important;
}
.font-danger-100{
	color: var(--danger-100) !important;
}
.font-danger-200{
	color: var(--danger-200) !important;
}
.font-danger-300{
	color: var(--danger-300) !important;
}
.font-danger-400{
	color: var(--danger-400) !important;
}
.font-danger-500{
	color: var(--danger-500) !important;
}
.font-danger-600{
	color: var(--danger-600) !important;
}
.font-danger-700{
	color: var(--danger-700) !important;
}
.font-danger-800{
	color: var(--danger-800) !important;
}
.font-danger-900{
	color: var(--danger-900) !important;
}
.font-warning-100{
	color: var(--warning-100) !important;
}
.font-warning-200{
	color: var(--warning-200) !important;
}
.font-warning-300{
	color: var(--warning-300) !important;
}
.font-warning-400{
	color: var(--warning-400) !important;
}
.font-warning-500{
	color: var(--warning-500) !important;
}
.font-warning-600{
	color: var(--warning-600) !important;
}
.font-warning-700{
	color: var(--warning-700) !important;
}
.font-warning-800{
	color: var(--warning-800) !important;
}
.font-warning-900{
	color: var(--warning-900) !important;
}
.font-success-100{
	color: var(--success-100) !important;
}
.font-success-200{
	color: var(--success-200) !important;
}
.font-success-300{
	color: var(--success-300) !important;
}
.font-success-400{
	color: var(--success-400) !important;
}
.font-success-500{
	color: var(--success-500) !important;
}
.font-success-600{
	color: var(--success-600) !important;
}
.font-success-700{
	color: var(--success-700) !important;
}
.font-success-800{
	color: var(--success-800) !important;
}
.font-success-900{
	color: var(--success-900) !important;
}
.font-grey-100{
	color: var(--grey-100) !important;
}
.font-grey-200{
	color: var(--grey-200) !important;
}
.font-grey-300{
	color: var(--grey-300) !important;
}
.font-grey-400{
	color: var(--grey-400) !important;
}
.font-grey-500{
	color: var(--grey-500) !important;
}
.font-grey-600{
	color: var(--grey-600) !important;
}
.font-grey-700{
	color: var(--grey-700) !important;
}
.font-grey-800{
	color: var(--grey-800) !important;
}
.font-grey-900{
	color: var(--grey-900) !important;
}
.font-neutral-100{
	color: var(--neutral-100) !important;
}
.font-neutral-200{
	color: var(--neutral-200) !important;
}
.font-neutral-300{
	color: var(--neutral-300) !important;
}
.font-neutral-400{
	color: var(--neutral-400) !important;
}
.font-neutral-500{
	color: var(--neutral-500) !important;
}
.font-neutral-600{
	color: var(--neutral-600) !important;
}
.font-neutral-700{
	color: var(--neutral-700) !important;
}
.font-neutral-800{
	color: var(--neutral-800) !important;
}
.font-neutral-900{
	color: var(--neutral-900) !important;
}
.font-dashboard{
	color: var(--dashboard) !important;
}
.font-sidenav{
	color: var(--sidenav) !important;
}
