.font-xs{
	font-size: var(--font-xs) !important;
}
.font-sm{
	font-size: var(--font-sm) !important;
}
.font-base{
	font-size: var(--font-base) !important;
}
.font-md{
	font-size: var(--font-md) !important;
}
.font-lg{
	font-size: var(--font-lg) !important;
}
.font-xl{
	font-size: var(--font-xl) !important;
}
.font-2xl{
	font-size: var(--font-2xl) !important;
}
.font-3xl{
	font-size: var(--font-3xl) !important;
}
