.font-base{
	font-family: var(--font-base) !important;
}
.font-serif{
	font-family: var(--font-serif) !important;
}
.font-mono{
	font-family: var(--font-mono) !important;
}
.font-hairline{
	font-weight: var(--font-hairline) !important;
}
.font-thin{
	font-weight: var(--font-thin) !important;
}
.font-light{
	font-weight: var(--font-light) !important;
}
.font-regular{
	font-weight: var(--font-regular) !important;
}
.font-medium{
	font-weight: var(--font-medium) !important;
}
.font-semibold{
	font-weight: var(--font-semibold) !important;
}
.font-bold{
	font-weight: var(--font-bold) !important;
}
.font-heavy{
	font-weight: var(--font-heavy) !important;
}
.font-black{
	font-weight: var(--font-black) !important;
}
