footer.-base{
    display: block;
    width: 100vw;
    background-color: var(--white);
    border-top: 1px solid var(--neutral-200);
    
    .sub{
        display: block;
        width: 100%;
        background-color: var(--neutral-100);
        padding: 2rem 2rem 1.75rem;

        .container{
            width: 1280px;
            max-width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column wrap;
            margin: 0 auto;
            font-size: var(--font-sm);
            color: var(--grey-700);

            @media (min-width: 1024px){
                flex-flow: row nowrap;
                justify-content: space-between;
            }

            div{
                width: 100%;
                display: block;
                text-align: center;

                @media (min-width: 1024px){
                    display: inline-block;
                    width: auto;
                }
            }

            .social-media-links{
                margin-top: 2rem;

                @media (min-width: 1024px){
                    text-align: right;
                    margin-top: 0;
                }
            }

            a{
                margin: 1rem;
                display: block;
                transition: all 150ms var(--ease-in-out);

                &:last-of-type{
                    margin-bottom: 0;
                }

                &:hover{
                    color: var(--primary-700);
                }

                &:focus-visible{
                    color: var(--primary-700);
                }

                &:active{
                    color: var(--primary-800);
                }

                @media (min-width: 1024px){
                    margin: 0 0 0 1rem;
                    display: inline-block;
                }
            }

            .social-media{
                width: 36px;
                height: 36px;
                display: inline-block;
                position: relative;
                margin: 0;

                svg{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }

    .primary{
        display: block;
        width: 100%;
        background-color: var(--white);
        padding: 4rem 2rem 2rem;

        .container{
            width: 1280px;
            max-width: 100%;
            margin: 0 auto;
            display: flex;
            flex-flow: column wrap;

            @media (min-width: 1024px){
                flex-flow: row nowrap;
            }

            .org-block{
                display: inline-block;
                padding-right: 4rem;
                padding-bottom: 2rem;
                max-width: 320px;

                @media (min-width: 1024px){
                    padding-bottom: 0;
                }

                .org-details{
                    margin-top: 1rem;

                    p,
                    a{
                        font-size: var(--font-sm);
                        color: var(--grey-700);
                        line-height: 1.618;
                        min-height: auto;
                        margin-bottom: 0.5rem;
                    }

                    a{
                        &:hover{
                            color: var(--primary-700);
                        }
                        &:focus-visible{
                            color: var(--primary-700);
                        }
                        &:active{
                            color: var(--primary-800);
                        }
                    }
                }
            }
            
            .footer-nav{
                width: 100%;
                flex: 1;
                display: grid;
                gap: 2rem;
                grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));

                .block{
                    display: inline-block;
                }
            }

            h3,
            .heading{
                color: var(--grey-800);
                font-weight: var(--font-medium);
                display: block;
                width: 100%;
                min-height: 36px;
                user-select: none;
            }

            a{
                user-select: none;
                font-size: var(--font-sm);
                color: var(--grey-700);
                display: block;
                width: 100%;
                min-height: 36px;
                transition: all 150ms var(--ease-in-out);

                &:hover{
                    color: var(--primary-700);
                }
                &:focus-visible{
                    color: var(--primary-700);
                }
                &:active{
                    color: var(--primary-800);
                }
            }

            .org-logo{
                user-select: none;
                
                img{
                    width: 100%;
                    height: 100%;
                    max-width: 175px;
                    max-height: 64px;
                }
            }
        }
    }
}