maps-component{
    map-component{
        transition: all 150ms var(--ease-in-out);
        transform-origin: center;
        background-color: var(--white);

        &:hover{
            box-shadow: var(--shadow-md);
        }

        &:active{
            transition: all 75ms var(--ease-in);
            transform: scale(0.95);
            box-shadow: none;
        }
    }
}