attack-component button {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  color: var(--grey-700);
  transition: all 150ms var(--ease-in-out);
  border-radius: 0.25rem;
  height: 36px;
  font-size: var(--font-sm);
  text-transform: uppercase;
  font-weight: var(--font-medium);
}

attack-component button:hover {
  background-color: var(--neutral-100);
}

attack-component button:focus-visible {
  background-color: var(--neutral-100);
}

attack-component button:active {
  background-color: var(--neutral-200);
}

attack-component button i {
  width: 24px;
  height: 24px;
  display: inline-block;
  position: relative;
  margin-right: 0.25rem;
}

attack-component button i svg {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

attack-component table tbody {
  display: block;
  width: 100%;
}

attack-component table tbody tr {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
}

attack-component table tbody tr td input {
  height: 36px;
  background-color: var(--neutral-100);
  border-radius: 0.125rem;
  width: 100%;
  text-overflow: ellipsis;
  padding: 0 0.5rem;
  transition: all 150ms var(--ease-in-out);
}

attack-component table tbody tr td input:hover {
  background-color: var(--neutral-200);
}

attack-component table tbody tr td input:active {
  background-color: var(--neutral-300);
}
