.copy-block h2 {
  font-size: var(--text-3xl);
  line-height: 1.618;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .copy-block h2 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

.copy-block p {
  margin-bottom: 1.5rem;
  line-height: 1.618;
  color: var(--grey-700);
}

.copy-block p strong {
  font-weight: var(--font-medium);
}

.copy-block p em {
  font-style: italic;
}

.copy-block p a {
  font-weight: var(--font-medium);
  color: var(--primary-800);
  transition: all 75ms ease-in-out;
  cursor: pointer;
  text-decoration: underline;
}

.copy-block p a:hover, .copy-block p a:focus {
  color: var(--primary-700);
}

.copy-block p a:active {
  color: var(--primary-900);
}
