<combat-timer web-component lazy-load-css="combat-timer" data-character-uid="{{ character.uid }}">
    <span class="font-primary-700 mr-0.5">Combat Timer:</span>
    <time class="font-grey-700">0</time>
</combat-timer>