$spinner-width: 18px;
$spinner-height: 18px;
$stroke-width: 6px;
$stroke-color: var(--primary-500);
$spinner-speed: 1400ms;
$offset: 188;
$cap: round;

.initiation-order{
    background-color: var(--white);
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 1rem;
    position: fixed;
    width: 1024px;
    max-width: 90vw;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) translateY(100%);
    box-shadow: var(--shadow-lg);
    transition: all 150ms var(--ease-in-out);
    visibility: hidden;
    opacity: 0;
    z-index: 1700;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: var(--grey-200);

    &.is-open{
        visibility: visible;
        transform: translateX(-50%) translateY(0);
        opacity: 1;
    }

    .close-button{
        width: 48px;
        height: 48px;
        display: inline-block;
        background-color: var(--white);
        box-shadow: var(--shadow-lg);
        border-radius: 50%;
        position: absolute;
        top: -24px;
        right: -24px;
        color: var(--grey-700);
        transition: all 150ms var(--ease-in-out);

        &:hover{
            color: var(--primary-700);
        }

        &:active{
            box-shadow: var(--shadow-sm);
            transform: scale(0.87);
        }

        svg{
            width: 24px;
            height: 24px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .entities{
        display: block;
        overflow-y: auto;
        width: 100%;
        white-space: nowrap;

        button{
            padding: 0 1rem;
            height: 36px;
            display: inline-flex;
            align-items: center;
            margin-right: 0 0.5rem;
            color: var(--grey-700);
            position: relative;
            font-size: 0.875rem;
            font-weight: 600;

            &.is-active{
                color: var(--primary-700);
            }

            &:hover{
                color: var(--primary-700);

                &::before{
                    opacity: 0.06;
                    transform: translate(-50%, -50%) scale(1);
                    transition: all 150ms var(--ease-bounce);
                }
            }

            &:active{
                &::before{
                    opacity: 0.1;
                    transform: translate(-50%, -50%) scale(1);
                }
            }

            &::before{
                background-color: var(--primary-500);
                content:"";
                display: inline-block;
                width: 100%;
                height: 100%;
                border-radius: 0.125rem;
                opacity: 0.06;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(0);
                transition: all 75ms var(--ease-in-out);
            }
        }
    }
}
.open-initiation-button{
    width: 48px;
    height: 48px;
    display: inline-block;
    background-color: var(--white);
    box-shadow: var(--shadow-lg);
    border-radius: 50%;
    color: var(--grey-700);
    transition: all 150ms var(--ease-in-out);
    pointer-events: all;
    z-index: 1600;

    &:hover{
        color: var(--primary-700);
    }

    &:active{
        box-shadow: var(--shadow-sm);
        transform: scale(0.87);
    }

    svg{
        width: 24px;
        height: 24px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}