$spinner-width: 18px;
$spinner-height: 18px;
$stroke-width: 6px;
$stroke-color: var(--primary-500);
$spinner-speed: 1400ms;
$offset: 188;
$cap: round;

.initiation-order{
    background-color: var(--white);
    border-radius: 0.25rem 0.25rem 0 0;
    padding: 1rem;
    position: fixed;
    width: 1024px;
    max-width: 90vw;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) translateY(100%);
    box-shadow: 0 0px 24px -1px rgba(0, 0, 0, 0.1),0 0px 6px -1px rgba(0, 0, 0, 0.06);
    transition: all 150ms var(--ease-in-out);
    visibility: hidden;
    opacity: 0;
    z-index: 1000;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;

    &.is-open{
        visibility: visible;
        transform: translateX(-50%) translateY(0);
        opacity: 1;
    }

    .close-button{
        width: 48px;
        height: 48px;
        display: inline-block;
        background-color: var(--white);
        box-shadow: var(--shadow-lg);
        border-radius: 50%;
        position: absolute;
        top: -24px;
        right: -24px;
        color: var(--grey-700);
        transition: all 150ms var(--ease-in-out);

        &:hover{
            color: var(--primary-700);
        }

        &:active{
            box-shadow: var(--shadow-sm);
            transform: scale(0.87);
        }

        svg{
            width: 24px;
            height: 24px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .entities{
        display: block;
        overflow-y: auto;
        width: 100%;
    }
}
.open-initiation-button{
    width: 48px;
    height: 48px;
    display: inline-block;
    background-color: var(--white);
    box-shadow: var(--shadow-lg);
    border-radius: 50%;
    color: var(--grey-700);
    transition: all 150ms var(--ease-in-out);
    pointer-events: all;

    &:hover{
        color: var(--primary-700);
    }

    &:active{
        box-shadow: var(--shadow-sm);
        transform: scale(0.87);
    }

    svg{
        width: 24px;
        height: 24px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}