{% extends "_base/page" %}

{% block content %}
    <style>
        code
        {
            padding: 0.25rem 0.5rem;
            background-color: var(--neutral-100);
            border-radius: 0.125rem;
            font-family: monospace;
            cursor: default;
            user-select: none;
            display: inline-block;
        }
    </style>
    <article>
        <section>
            Get started with this boilerplate by modifying the <code>_header</code> and <code>_footer</code> files.
        </section>
    </article>
{% endblock %}