{% extends "_base/base" %}

{% block page %}
    {% include "_header" %}
    <main pjax-id="page" eager-load-css="normalize brixi page-transition soft-loading toaster-notification" style="min-height: calc(100vh - 12rem);">        
        {% block content %}{% endblock %}
    </main>
{% endblock %}