header.-base{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
    box-shadow: var(--shadow-md);
    display: block;
    border-bottom: 1px solid var(--neutral-100);

    .utility-nav{
        background-color: var(--neutral-100);
        width: 100%;
        display: none;
        padding: 0 1rem;

        @media (min-width: 1024px){
            display: block;
        }

        .container{
            width: 1280px;
            max-width: 100%;
            height: 36px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin: 0 auto;
            flex-flow: row nowrap;

            a{
                display: inline-block;
                margin-right: 1.5rem;
                font-size: var(--font-xs);
                color: var(--grey-700);
                user-select: none;
                transition: all 150ms var(--ease-in-out);

                &:last-child{
                    margin-right: 0;
                }

                &:hover{
                    color: var(--primary-700);
                }
                &:focus-visible{
                    color: var(--primary-700);
                }
                &:active{
                    color: var(--primary-800);
                }
            }
        }
    }

    .primary-nav{
        min-height: 4rem;
        background-color: var(--white);
        padding: 1rem;

        .container{
            width: 1280px;
            max-width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            flex-flow: row nowrap;
    
            .org-logo{
                user-select: none;
                
                img{
                    width: 100%;
                    height: 100%;
                    max-width: 128px;
                    max-height: 48px;
                }
            }
    
            nav{
                display: inline-flex;
                justify-content: flex-end;
                align-items: center;
                flex-flow: row nowrap;
        
                dropdown-link{
                    position: relative;
                    display: inline-block;
        
                    &:hover,
                    &:focus-within{
                        dropdown-list{
                            opacity: 1;
                            visibility: visible;
                            transition: all 150ms var(--ease-in-out);
                        }
                    }
                }
        
                dropdown-list{
                    position: absolute;
                    display: none;
                    flex-flow: column wrap;
                    top: 100%;
                    left: calc(50% + 0.5rem);
                    transform: translateX(-50%);
                    background-color: var(--white);
                    box-shadow: var(--shadow-md);
                    border-radius: 0.25rem;
                    opacity: 0;
                    visibility: hidden;
                    transition: all 0ms 0ms linear;
                    padding: 0.5rem 0;
                    z-index: 100;
                    margin-top: 0.25rem;

                    @media (min-width: 1024px){
                        display: flex;
                    }
    
                    &::after{
                        content:"";
                        width: 100%;
                        height: 0.25rem;
                        position: absolute;
                        top: -0.25rem;
                        left: 0;
                    }
        
                    a{
                        display: flex;
                        align-items: center;
                        height: 36px;
                        padding: 0 0.5rem;
                        margin: 0 0.5rem;
                        line-height: 36px;
                        color: var(--grey-700);
                        transition: all 150ms var(--ease-in-out);
                        font-size: var(--font-sm);
                        position: relative;
                        white-space: nowrap;
                        user-select: none;
        
                        &:hover{
                            color: var(--primary-700);
        
                            &::before{
                                opacity: 0.06;
                            }
                        }
    
                        &:focus-visible{
                            color: var(--primary-700);
        
                            &::before{
                                opacity: 0.06;
                            }
                        }
        
                        &:active{
                            &::before{
                                opacity: 0.1;
                            }
                        }
        
                        &::before{
                            content: "";
                            display: inline-block;
                            background-color: var(--primary-500);
                            opacity: 0;
                            width: 100%;
                            height: 100%;
                            border-radius: 0.125rem;
                            transition: all 75ms var(--ease-in-out);
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
        
                .-primary-link,
                button{
                    padding: 0 0.5rem;
                    margin-left: 1rem;
                    display: none;
                    align-items: center;
                    justify-content: center;
                    flex-flow: row nowrap;
                    cursor: pointer;
                    height: 36px;
                    line-height: 36px;
                    color: var(--grey-700);
                    position: relative;
                    transition: all 150ms var(--ease-in-out);
                    font-size: var(--font-sm);
                    user-select: none;
        
                    &:hover{
                        color: var(--primary-700);
        
                        &::before{
                            opacity: 0.06;
                        }
                    }
    
                    &:focus-visible{
                        color: var(--primary-700);
        
                        &::before{
                            opacity: 0.06;
                        }
                    }
        
                    &:active{
                        &::before{
                            opacity: 0.1;
                        }
                    }
        
                    &::before{
                        content:"";
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                        border-radius: 0.125rem;
                        background-color: var(--primary-500);
                        opacity: 0;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        transition: all 75ms var(--ease-in-out);
                    }
    
                    @media (min-width: 1024px){
                        display: inline-flex;
                    }
                }
    
                navigation-drawer-toggle{
                    width: 48px;
                    height: 48px;
                    position: relative;
                    display: inline-block;
                    margin-left: 1rem;
    
                    @media (min-width: 1024px){
                        display: none;
                    }
    
                    &.is-visible{
                        display: inline-block;
                    }
    
                    input{
                        width: 0;
                        height: 0;
                        opacity: 0;
                        position: absolute;
                        top: 0;
                        left: 0;
    
                        &:focus-visible{
                            & + label{
                                color: var(--primary-700);
    
                                &::before{
                                    opacity: 0.06;
                                }
                            }
                        }
                    }
    
                    label{
                        width: 100%;
                        height: 100%;
                        position: relative;
                        display: inline-block;
                        color: var(--grey-700);
                        cursor: pointer;
                        transition: all 150ms var(--ease-in-out);
                        border-radius: 0.25rem;
                        user-select: none;
                        
                        &:hover{
                            color: var(--primary-700);
    
                            &::before{
                                opacity: 0.06;
                            }
                        }
    
                        &:active{
                            &::before{
                                opacity: 0.1;
                            }
                        }
    
                        &::before{
                            content: "";
                            display: inline-block;
                            background-color: var(--primary-500);
                            opacity: 0;
                            width: 100%;
                            height: 100%;
                            border-radius: 0.125rem;
                            transition: all 75ms var(--ease-in-out);
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
    
                        svg{
                            width: 24px;
                            height: 24px;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }
        }
    }
}