header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
    box-shadow: var(--shadow-md);
    background-color: var(--white);
    display: block;
    border-bottom: 1px solid var(--neutral-100);
    padding: 0 1rem;

    nav{
        width: 1024px;
        height: 64px;
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row nowrap;
        margin: 0 auto;
    }
}