{% cache %}
    <header eager-load-css="header buttons">
        <nav>
            <div>
                <a href="{{ siteUrl }}" class="button -text -primary" style="margin-right: 0.5rem;">Home</a>
                <a href="{{ siteUrl|trim('/') }}/new-character" class="button -text -primary">Roll Character</a>
            </div>
            {% if currentUser %}
                <a no-pjax href="{{ siteUrl|trim('/') }}/actions/users/logout" class="button -text -primary">Log Out</a>
            {% endif %}
        </nav>
    </header>
{% endcache %}